<footer class="footer">
    <div class="footer-top">
        <div class="footer-col p-10">
            <a class='logo' href="/pages/home">Pong</a>
        </div>

        <div class="footer-col">
            <span class="footer-col-label text-second">Siga-nos!</span>
            <ul class="u-list">
                <li class="u-list-item">
                    <button class="btn btn-first">
                        <i class="fa-brands fa-youtube"></i>
                    </button>
                </li>
                <li class="u-list-item">
                    <button class="btn btn-first">
                        <i class="fa-brands fa-facebook"></i>
                    </button>
                </li>
                <li class="u-list-item">
                    <button class="btn btn-first">
                        <i class="fa-brands fa-twitter"></i>
                    </button>
                </li>
                <li class="u-list-item">
                    <button class="btn btn-first">
                        <i class="fa-brands fa-instagram"></i>
                    </button>
                </li>
            </ul>
        </div>
        
        <div class="footer-col">
            <span class="footer-col-label text-second">Menu</span>
            <ul class="u-list">
                <a href='' target='_blank' class="u-list-item link">Jogos</a>
                <a href='' target='_blank' class="u-list-item link">Minha Conta</a>
                <a href='/pages/cart/' target='_blank' class="u-list-item link">Carrinho</a>
                <a href='' target='_blank' class="u-list-item link">Biblioteca</a>
                <a href='/pages/wish-list/' target='_blank' class="u-list-item link">Favoritos</a>
                <a href='/pages/pong-coin' target='_blank' class="u-list-item link">Pong Coin</a>
                <a href='/pages/plans' target='_blank' class="u-list-item link">Planos de Assinatura</a>
            </ul>
        </div>
        
        <div class="footer-col">
            <span class="footer-col-label text-second">Companhia</span>
            <ul class="u-list">
                <li class="u-list-item link">Sobre nós</li>
                <li class="u-list-item link">Carreiras</li>
                <li class="u-list-item link">Contato</li>
                <li class="u-list-item link">FAQ</li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <span> &copy; 2023 Pong Inc. - All rights reserved</span>
        <a href="#top">
            <button class="btn btn-first">
                <i class="fa fa-arrow-up"></i>
            </button>
        </a>
    </div>
</footer>