<nav class="navbar">
    <a class='logo' href="/pages/home/">Pong</a>

    <div class="search-container">
        <button class="search-btn">
            <i class="fas fa-search"></i>
        </button>
        
        <input type="text" class="search-input" placeholder="Pesquisar">

        <i class="fa fa-filter"></i>
        
        <select class="search-filter-select">
            <option disabled selected>Filtro</option>
            <option>Usuários</option>
            <option>Jogos</option>
        </select>
    </div>

    <ul class="nav-list">
        <a href="" class="nav-list-item link" target="_blank">Jogos</a>
        <a href="" class="nav-list-item link" target="_blank">Minha Conta</a>
        
        <a href="/pages/cart/" target="_blank" class="nav-list-item link">Carrinho</a>

        <a href='/pages/library/' class="nav-list-item link" target="_blank">Biblioteca</a>
        <a href="/pages/wish-list/" target="_blank" class="nav-list-item link">Favoritos</a>
    </ul>
     
    <ul class="sidebar">
        <span class="sidebar-title">
            Menu

            <div class="toggle-btn" onclick='sidebar()'>
                <i class="fa fa-times"></i>
            </div>
        </span>

        <a href="" target="_blank" class="sidebar-item link">
            <i class="fa fa-gamepad p-10"></i>
            Jogos
        </a>
        
        <a href="/pages/cart/" target="_blank" class="sidebar-item link">
            <i class="fa fa-shopping-cart p-10"></i>
            Carrinho
        </a>
        
        <a href="/pages/library/" target="_blank" class="sidebar-item link">
            <i class="fa fa-shopping-cart p-10"></i>
            Biblioteca
        </a>

        <a href="/pages/wish-list/" target="_blank" class="sidebar-item link">
            <i class="fa fa-bookmark p-10"></i>
            Favoritos
        </a>

        <a href="#" target="_blank" class="sidebar-item link">
            <i class="fa fa-user p-10"></i>
            Minha Conta
        </a>
    </ul>
    
    <div class="toggle-btn" onclick='sidebar()'>
        <i class="fa fa-bars"></i>
    </div>
</nav>