:root { 
    --col-repeat: auto-fit; 
    --col-width: 75%;
}

@media only screen and (min-width: 550px) {
    :root {
        --col-width: 250px;
    }
}

@media only screen and (min-width: 1250px) {
    .item:nth-of-type(5) { /*se houver 5, pare de gerar colunas */
        --col-repeat: 5;
    }
}

.items-wrapper {
    width: clamp(250px, 100%, 1500px);
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(var(--col-repeat), var(--col-width));
    grid-gap: 15px;
    justify-content: center;
    transition: all 1s;
}

.item {
    border: 1px solid var(--first);
    border-radius: 10px;
    background-color: var(--third);
    height: 250px;
    width: 100%;
    transition: all .25s;
}

.item:hover {
    transform: translate(10px, -10px);
    box-shadow: -10px 10px 0 black;
}

.img-wrapper {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second);
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-wrapper > img {
    width: clamp(100px, 100%, 300px);
    object-fit: cover;
    position: absolute;
    top: 0;
}

.info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    position: relative;
}

.info > div {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.cart-btn:hover { transform: translateX(30px); }
.cart-btn {
    flex-direction: row !important;
    position: absolute;
    right: 10px;
    transition: all .5s;
}

.cart-btn-label {
    width: 0;
    opacity: 0;
    position: absolute;
    overflow: hidden;
    transition: all .25s;
}

.cart-btn:hover .cart-btn-label {
    position: relative;
    width: 100%;
    opacity: 1;
}
